!!!
%html
  %head
    %title Orders
    %script{:type => "text/javascript",
        :src  => "jquery-2.1.4.js"}
  %body
    %h1 List of Orders
    %table{:border => 1}
      %tbody
        %tr
          %td